{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "tabWidth": 2
}